body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://user-images.githubusercontent.com/67880796/113497051-449d3e00-94d6-11eb-8dfb-e881a223a9e4.png');
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;